WATSONX_API_KEY=your_key_here
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_PROJECT_ID=your_project_id
WATSON_STT_API_KEY=your_key_here
WATSON_STT_URL=your_url_here
WATSON_TTS_API_KEY=your_key_here
WATSON_TTS_URL=your_url_here
